/*!
 * Via Saúde - Gestão Integral
 */

body {
  padding-top: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img { max-width: 100%; }
p, li { font-weight: 300; }

a {
  color: #444;
  transition: all 0.2s;
}

a:hover {
  color: #002E5E;
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.text-warning {
  color: #e8b10b!important;
}

/* 
 NAV
*/
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #002E5E;
}

/* 
 ACCORDION
*/
.accordion .card-header {
  padding: 0;
}

.accordion .card-header .btn-link {
  color: #666;
}

.accordion .card-header .btn-link:hover,
.accordion .card-header .btn-link:focus {
  text-decoration: none;
}

.accordion .card-body a{
  color: #17a2b8;
}

/* 
 NAVBAR
*/
.navbar {
  border-top: 5px solid #47b4c3;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
}

.navbar .nav-link{
  font-size: 14px;
  font-weight: 300;
}

.navbar .nav-item--logo .nav-link {
  padding: 0;
}

/* 
 MAIN TITLE
*/
.main-title {
  color: #002E5E;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.main-title::after {
  content: "";
  border-bottom: 2px solid #fab500;
  display: block;
  width: 150px;
  margin: 10px auto 0;
}

.navbar-brand img {
  width: 170px;
}

/* 
 PLANS
*/
.plans .plan:hover {
  text-decoration: none;
}

.plans .plan:hover .plan__icon img {
  width: 80px;
}

.plans .plan__icon {
  height: 120px;
  width: 120px;
  background-color: #002E5E;
  display: block;
  margin: 0 auto;
}

.plans .plan__icon img {
  width: 70px;
  transition: all 0.2s;
}

.plans .plan__title{
  background-color: #002E5E;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.plans .plan__text{
  font-size: 14px;
  font-weight: 300;
  color: #444;
}

/* 
 BLOG
*/
.blog-item {
  background: #fff;
  border: 1px solid #e3e3e3;
  display: block;
  padding: 10px;
}

.blog-item:hover {
  text-decoration: none;
}

.blog-item__image {
  display: block;
  margin: 5px auto;
}

.blog-item__title {
  color: #002e5e;
  font-size: 18px;
}

.blog-item__text {
  font-size: 12px;
  font-weight: 300;
}

.blog-item__date,
.blog-item__link {
  font-size: 14px;
  font-weight: 300;
}

