/*!
 * Via Saúde - Gestão Integral
 */

body {
  padding-top: 85px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img { max-width: 100%; }

p, small, ul li, ol li {
  color: #585858;
}

a {
  color: #c8162e;
  transition: all 0.2s;
}

a:hover {
  color: #c8162e;
  text-decoration: underline;
}

strong, b {
  font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  color: #c8162e;
  font-weight: 700;
}

.text-danger,
.text-danger:hover {
  color: #c8162e !important;
}

.btn-danger,
.btn-outline-danger:hover {
  color: #fff;
  background-color: #c8162e;
  border-color: #c8162e;
}

.btn-outline-danger {
  color: #c8162e;
  border-color: #c8162e;
}

/* 
 NAVBAR
*/
.navbar.nav-custom {
  border-bottom: 1px solid #E9E9EC;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav-link{
  color: #000 !important;
  font-size: 0.875rem;
}

.navbar .active .nav-link,
.navbar .nav-link:hover{
  color: #c8162e !important;
}

.navbar .nav-item--logo .nav-link {
  padding: 0;
}

/* 
 MAIN TITLE
*/
.main-title {
  color: #c8162e;
  font-weight: bold;
  text-align: center;
}

.bg-subpage {
  color: #fff;
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
}

.bg-subpage.bg-1 {
  background: url(../images/banner.jpg) no-repeat center center;
  background-size: cover;
}

.bg-subpage:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(34, 42, 60, 0.4);
  top: 0;
  left: 0;
}

.bg-subpage .main-title {
  color: #fff;
  position: relative;
  z-index: 20;
}

/* 
 PLANS
*/
.plans .plan:hover {
  text-decoration: none;
}

.plans .plan:hover .plan__icon img {
  width: 80px;
}

.plans .plan__icon {
  height: 120px;
  width: 120px;
  background-color: #c8162e;
  display: block;
  margin: 0 auto;
}

.plans .plan__icon img {
  width: 70px;
  transition: all 0.2s;
}

.plans .plan__title{
  background-color: #c8162e;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.plans .plan__text{
  font-size: 14px;
  color: #444;
}

/* 
 BLOG
*/
.blog-item {
  background: #fff;
  border: 1px solid #e3e3e3;
  display: block;
  padding: 10px;
}

.blog-item:hover {
  text-decoration: none;
}

.blog-item__image {
  display: block;
  margin: 5px auto;
}

.blog-item__title {
  color: #000;
  font-size: 18px;
}

.blog-item__text {
  font-size: 12px;
}

.blog-item__date,
.blog-item__link {
  font-size: 14px;
}
